body {
    background-color: #1b1b1b;
    color: #fff;
    font-family: 'Courier New', monospace;
    padding: 20px;
}

div {
	background-color: #1b1b1b;
}

#bulletin-board {
    position: relative;
    width: 1500px;
    height: 983px;
    background-image: url('images/bulletinboardbig.jpg');
    background-position: center center; /* centers the image */
    background-repeat: no-repeat; /* prevents the image from repeating */
}


.bulletin-item {
    position: absolute;
    width: 400px;  /* replace with your image's width */
    height: 400px;  /* replace with your image's height */
}

#item1 { top: 333px; left: 220px; }
#item2 { top: 300px; left: 500px; }
#item3 { top: 333px; left: 770px; }
#item4 { top: 250px; left: 1100px; }
#item5 { top: 500px; left: 1080px }
/* Add more items as needed, adjust the positions as you prefer */
/* now to rotate the items*/

#item2 {
    transform: rotate(-10deg); 
}

#item3 {
    transform: rotate(5deg); 
}

#item4 {
    transform: rotate(-7deg); 
}

section {
    border: 2px solid #4a4a4a;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 1px solid #4a4a4a;
    padding-bottom: 10px;
}

section ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    padding: 0;
}

section ul li {
    display: flex;
    align-items: center;
}

section ul img {
    border-radius: 50% / 20%; /* Make all section images oval */
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

section a {
    color: #0f0;
}

section#rules p {
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    padding: 10px;
    white-space: pre-line;
}


